  * {


      color: white;
  }

  #navbarNav {
      margin-right: 90px;

  }

  #navbar {
      background-color: #1B1F34;
      position: sticky;


  }

  #icon {
      margin-left: 90px;
  }

  image {
      width: 100%;
  }

  #hero {
      padding-top: 160px;
      padding-bottom: 160px;
      background: linear-gradient(#1B1F34, rgb(2, 2, 46, 0.1)), url(Images/baber.jpg);
      background-position: center;
      background-size: cover;
      height: 100vh;



  }

  .buttonName {
      font-weight: 600;


  }

  .btn1 {
      width: 120px;
      padding: 25px;
      font-weight: 600;

  }

  .heroTopic h1 {
      font-family: "Protest Strike", sans-serif;
      font-size: 3rem;
      font-style: normal;
      font-weight: 800;
  }

  #btn12 {
      background-image: linear-gradient(to right top, #e27931, #e38443, #e48e54, #e49965, #e4a376, #e2a174, #e09e73, #de9c71, #d98d5d, #d47d4a, #cf6d37, #c95c25);
      font-family: 600;
      border: none;
  }

  /*About*/
  #about {

      color: white;

      position: relative;


  }

  #about ::after {
      position: absolute;
      content: "";
      width: 25%;
      height: 100%;
      background-color: #e1601fb9;
      top: 0;
      left: 0;
      z-index: -1;




  }

  .aboutImg img {
      width: 380px;
      height: 80vh;
      -webkit-box-shadow: -59px -5px 114px 8px rgb(46, 47, 50);
      -moz-box-shadow: -59px -5px 114px 8px rgb(36, 37, 40);
      box-shadow: -59px -5px 114px 8px rgb(52, 53, 57);
      border-radius: 25px;
      margin-top: 130px;



  }

  .col-lg-4 h1,
  h6 {
      font-weight: 800;
      font-family: "Protest Strike", sans-serif;
      margin-bottom: 16px;



  }

  .col-lg-4 h6 {
      margin-top: 100px;

  }

  .col-lg-4 p {
      color: #9bacce82;
  }

  .col-lg-4 {

      height: 430px;

  }

  /*Services*/
  #services {
      margin-top: 110px;
  }

  .para1 {
      width: 550px;
      text-align: center;
      align-items: center;
      margin: auto;
  }

  .col-12 h6 {
      font-family: "Protest Strike", sans-serif;
      font-weight: 900;
      color: #ee8e5eb9;
      ;

  }

  .col-12 h1 {
      font-family: "Protest Strike", sans-serif;
      font-weight: 900;


  }

  .col-12 p {
      margin-bottom: 50px;
      color: #8189b6e1;
  }

  /*cards*/
  .card-body {

      background-color: #1B1F34;
      border: none;


  }

  .card-body h5 {
      font-family: "Protest Strike", sans-serif;
      font-weight: 900;
      color: white;

  }

  .readMore {
      text-decoration: none;
      font-weight: 500;
      color: #7c8cdb;
  }

  .readMore.icon {
      transition: all 0.4 ease;
  }

  .readMore:hover {
      color: #c15925;
      transform: translatex(8px);
  }
  .readMore:hover .icon{
    transform: translatex(8px); color: #c15925;

  }


  .icon {
      color: #7c8cdb;
  }
  .button-grp{
   
    align-items: center;
    text-align: center;
    margin: auto;
  }
  #button-set{
    margin-top: 150px;
    margin-bottom: 150px;
  }
  #button2{
    background-color: #1B1F34;
    
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
        -moz-animation: pulse 2s infinite;
        -webkit-animation: pulse 2s infinite;
        animation: pulse 2s infinite;
        
        }
        
        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 rgba(88, 120, 243, 1);
            }
            70% {
                box-shadow: 0 0 0 10px rgba(88, 120, 243, 0);
            }
            100% {
                box-shadow: 0 0 0 50px rgba(88, 120, 243, 0);
            }
        }
        #button2:hover{
            color: #c15925;
        }
        #Counter h1{
            color: white;
            font-weight: 900;
            font-family: "Protest Strike", sans-serif;
            
        }
        #Counter p{
            color: #7481c1;
        }
        #CounterSec{
           
            background: linear-gradient(#1B1F34, rgb(2, 2, 46, 0.1)), url(Images/counter.jpg);
            background-position: center;
            background-size: cover;
            height: 550px;
           

        }
        #Counter{
        padding-top: 200px;
        }
        /*features*/
        #features{
            margin-top: 150px;
        }
        #cardBody{
            margin-bottom: -150px;
        }
        #cardBody p{
            width: 250px;
            
        }
        .icon-feature {
            margin-right: 10px;
            color: #c15925;
        }
        #cardBody h5{
            font-size: 28px;
            font-weight: 800;
        }
        .para1{
            margin-bottom: 180px;
        }
        #featuresOP{
            align-items: center;
            justify-content: center;
            margin-left: 80px;
        }
        /*members*/
        #members{
            margin-top: 80px;
        }
        .teamMember img{
            width: 30%;
            height: 30vh;
            border-radius: 25%;
        }
        .social-links a{
           
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            
        }
        .social-links a:hover{
            color: #c15925;
            background-color: #0a27b8;
        }
        .teamMember h5{
            font-weight: 800;
            font-family: "Protest Strike", sans-serif;
        }
        .jobRoll{
            color: #c15925;
            font-weight: 600;
        }
      /*members*/
      #Reviews{
        margin-top: 20px;
        background-color: #191e36;
      }
      .review{
        padding: 32px;
        background-image: linear-gradient(to right top, #0a0f27, #0b142f, #0b1837, #0b1b3f, #0b1f48, #0b204a, #0b204d, #0b214f, #0b1f4b, #0b1d48, #0b1c44, #0b1a41);
        width: 350px;
        
      }
      .review img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .review .icon{
        width: 42px;
        display: flex;
        height: 42px;
        justify-content: center;
        align-items: center;
      }
      .para2{
        margin-left: 5px;
        width: 300px;
        margin-bottom: 80px;
      }
    #cardBody1{
        margin-bottom: -100px;

    }
    /*BLOGS*/
    
    .blogTrend img{
        width: 550px;
        height: 450px;
       

    }
    .blogTrend{
        position: relative;
      

    }
    .blogTrend h4{
        font-weight: 800;
        font-family: "Protest Strike", sans-serif;
        margin-top: 18px;
        font-size: 24px;
        margin-bottom: 10px;

    }
    .blogtopics{
        margin-bottom: 50px;
    }
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');
    .blogTrend .day{
        width: 100px;
        height: 100px;
        background-color: #c15925;
        text-align: center;
        align-items: center;
        position: absolute;
        top: 30px;
        left: 30px;
        animation: pulse 2.25s ease infinite;
        background: #c15925;
       
       
        @keyframes pulse {
            0% {
              transform: scale(1, 1);
            }
            50% {
              opacity: 0.3;
            }
            100% {
              transform: scale(1.5);
              opacity: 0;
            }
          }
        
    }
    .blogTrend .date{
        font-family: "Protest Strike", sans-serif;
        font-weight: 900;
        color: black;
        font-size: 32px;
    }
    .blogTrend .year{
        font-family: "Protest Strike", sans-serif;
        font-weight: 900;
        color: black;
        font-size: 14px;

    }
    /*Booking*/
    .booking{
        margin-top: 160px;
    }
    .bookingTopic{
        text-align: center;
    }
    .BookingForm{
        align-items: center;
       margin: 0 auto;
       justify-content: center;
       margin-left: 25;
       margin-left: 110px;
     
    }
    .BookingForm input{
        background-color: #1B1F34;

    }
    .form-control{
        background-color: #1B1F34;

    }
    /*Footer */
    h6{
        font-weight: 800;
    }
    h4{
        font-weight: 800;
    }
    .footerSec1 h6,p{
        color:#9bacce82;
       
    }
    .footerSec2 span,i{
        color:#9bacce82;
    }
    .footerSec1{
        margin-left: 200px;

    }
    footer{
        margin-top: 150px;
        
    }
    .footer{
        height: 50px;

    }
    footer a{
        font-size: 25px;
    }
    .footer-down{
        margin-top: -150px;
        margin-bottom: 150px;
    }
    #bottom{
        border: white;
    }

    hr{
        color: white;
    }

